$petalColor1: red;
$petalColor2: orange;
$petalColor3: yellow;
$petalColor4: green;
$petalColor5: blue;

$transitionSpeed: 200ms;
$size: 300px;
$degrees: 45deg;
$borderRadius: 0 70% 50% 70%;
$opacity: .5;

$positionX: 100px;
$positionY: 100px;

.lotus {
    width: $size;
    height: $size;
    // border: 1px solid;
    position: relative;
}
.lotus {
    div {
        position: absolute;
        width: $size/3 *2;
        height: $size/3 *2;
        // border: 1px solid;
        border-radius: $borderRadius;
        top: $positionY;
        left: $positionX;
        transform: rotate($degrees);
        opacity: .5;
        transform-origin: $size/2 $size/2;
        transition: $transitionSpeed;
    }

    div:nth-child(1) {background-color: $petalColor1;}
    div:nth-child(2) {background-color: $petalColor2;}
    div:nth-child(3) {background-color: $petalColor3;}
    div:nth-child(4) {background-color: $petalColor4;}
    div:nth-child(5) {background-color: $petalColor5;}
}
.lotus:hover {
    div:nth-child(1) {transform: rotate(-$degrees);}
    div:nth-child(2) {transform: rotate(0deg);}
    div:nth-child(3) {transform: rotate($degrees);}
    div:nth-child(4) {transform: rotate($degrees*2);}
    div:nth-child(5) {transform: rotate($degrees*3);}
}