$petalColors: red, orange, yellow, green, blue;
$transitionSpeed: 200ms;
$size: 300px;
$degrees: 45deg;
$borderRadius: 0 70% 50% 70%;
$opacity: .5;

$positionX: 100px;
$positionY: 100px;

.lotus {
    width: $size;
    height: $size;
    // border: 1px solid;
    position: relative;
    &>div {
        position: absolute;
        width: $size/3 *2;
        height: $size/3 *2;
        // border: 1px solid;
        border-radius: $borderRadius;
        top: $positionY;
        left: $positionX;
        transform: rotate($degrees);
        opacity: .5;
        transform-origin: $size/2 $size/2;
        transition: $transitionSpeed;
    }
    
    @for $i from 1 through 5 {
        div:nth-child(#{$i}) {background-color: nth($petalColors, $i);}
    }
}
.lotus:hover {
    @for $i from 1 through 5 {
        div:nth-child(#{$i}) {transform: rotate(-$degrees*2+$degrees*$i);}
    }
}